#registerContainer{

  padding-top: 100px;

}

.marvel-theme {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
  }
  
  .card-header {
    background-color: #DC3545;
    border-top-left-radius: 12px;
    border-top-right-radius: 15px;
    color: white;
  }

  .card-body{
    color: black;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #e62429;
    border-radius: 10px;
  }
  
  .form-control:focus {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-color: #ff1e1e;
    box-shadow: 0 0 10px #e62429;
  }
  
  .btn-danger {
    background-color: #DC3545;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn-danger:hover {
    background-color: #ff1e1e;
    transform: scale(1.05);
  }
  
  .text-danger {
    font-size: 0.85rem;
  }
