<header class="bg-danger py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="logo">
            <img routerLink="/" src="assets/marvelLogo.png" alt="Marvel Logo" class="img-fluid"
                style="max-width: 150px;">
        </div>
        <button id="toogleButton" class="me-3 btn"><i class="bi bi-list" (click)="toogleNavVar()"></i></button>
        <nav id="top-panel">
            @if(userData() == null) {
            <ul class="nav">      
                <li class="nav-item"><a routerLink="/login" class="nav-link">INICIAR SESIÓN</a></li>
                <li class="nav-item"><a routerLink="/login" class="nav-link">INICIAR SESIÓN</a></li>
                <li class="nav-item"><a routerLink="/signin" class="nav-link">REGISTRARSE</a></li>
            </ul>
            } @else {
            <div class="d-flex align-items-center">
                <label class="me-3">Hola, {{userData()!.nombre}}</label>
                <ul class="nav">
                    <li class="nav-item"><a routerLink="/myFavoriteComics" class="nav-link">VER FAVORITOS <i
                                class="bi bi-heart-fill"></i></a></li>
                    <li class="nav-item"><a routerLink="/" class="nav-link" (click)="logOut()">CERRAR SESIÓN <i
                                class="bi bi-x-circle-fill"></i></a></li>
                </ul>
            </div>
            }
        </nav>

        <nav id="right-panel">
            <button id="toogleButton" class="me-3 btn"><i class="bi bi-list" (click)="toogleNavVar()"></i></button>

            @if(userData() == null) {
                <a routerLink="/login" class="nav-link">INICIAR SESIÓN</a>
                <a routerLink="/" class="nav-link" (click)="logOut()">CERRAR SESIÓN <i class="bi bi-x-circle-fill"></i></a>
            }@else {
                <label class="me-3">Hola, {{userData()!.nombre}}</label>
                <a routerLink="/myFavoriteComics" class="nav-link">VER FAVORITOS <i class="bi bi-heart-fill"></i></a>
                <a routerLink="/" class="nav-link" (click)="logOut()">CERRAR SESIÓN <i class="bi bi-x-circle-fill"></i></a>
            }
        </nav>

    </div>
</header>
<div id="routerOutletContainer">
    <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="bg-secondary py-4 text-center text-light">
    <div class="container">
        <p>&copy; 2024 Marvel. Todos los derechos reservados.</p>
    </div>
</footer>